body{
    margin: 0;
    background-color: rgb(99, 61, 61);
}

#bingo{ 
    margin-left: 10em;
    margin-right: 10em;
    
}

.center {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

.oneByOne{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 97, 107);
    width: 80px;
    height: 80px;
    font-size:xx-large;
    color: beige;
    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid rgb(49, 47, 47);
}

h1{
    text-align: center;
    color: beige;
}

.board{
    background-color: rgb(231, 117, 36);
}

#randomButton{
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    width: 250px;
}

#newRandomNumber{
    font-size: xx-large;
    color: beige;
    text-align: center;
}